.logo-icon5 {
  width: 36.6px;
  position: relative;
  border-radius: 50%;
  height: 36px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.logo-name5 {
  margin: 0;
  width: 148.3px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.logo4 {
  width: 185px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.home4 {
  width: 40px;
}
.about4:hover,
.home4:hover,
.profile4:hover {
  color: var(--color-deepskyblue-200);
}
.about4,
.home4,
.profile4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.about4 {
  width: 44px;
  height: 21px;
}
.profile4 {
  width: 48px;
}
.links4 {
  width: 177px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--gap-3xl-5);
}
.header4,
.links4,
.nav4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav4 {
  flex: 1;
  height: 42px;
  justify-content: space-between;
}
.header4 {
  margin: 0;
  align-self: stretch;
  height: 155px;
  background-color: var(--color-paleturquoise);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-81xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  font-family: var(--font-k2d);
}
.adoption-heading1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.adoption-text1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  height: 80px;
  flex-shrink: 0;
}
.adoption-head1 {
  width: 685px;
  height: 183px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-deepskyblue-100);
}
.dogs1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 300;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: center;
}
.dog-button1 {
  cursor: pointer;
  border: 0.5px solid var(--color-black);
  padding: var(--padding-11xs) var(--padding-lg);
  background-color: var(--color-paleturquoise);
  border-radius: var(--br-8xs);
}
.cat-button1:active,
.cat-button1:hover,
.dog-button1:active,
.dog-button1:hover {
  background-color: var(--color-lightblue-200);
}
.buttons1,
.cat-button1,
.dog-button1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cat-button1 {
  cursor: pointer;
  border: 0.5px solid var(--color-black);
  padding: var(--padding-11xs) var(--padding-lgi);
  background-color: var(--color-paleturquoise);
  border-radius: var(--br-8xs);
}
.buttons1 {
  width: 685px;
  height: 50px;
  flex-shrink: 0;
  gap: var(--gap-sm);
}
.pet-img-icon16 {
  width: 150px;
  position: relative;
  border-radius: var(--br-8xs);
  height: 120px;
  object-fit: cover;
}
.pet-image16 {
  align-self: stretch;
  height: 118px;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.oliver,
.pet-image16,
.pet-name16 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.oliver {
  margin: 0;
  width: 130px;
  position: relative;
  height: 16px;
  flex-shrink: 0;
}
.pet-name16 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-3xs);
}
.gender16,
.male8 {
  margin: 0;
  width: 38px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  height: 13px;
  flex-shrink: 0;
}
.male8 {
  width: 22px;
  font-weight: 300;
}
.pet-gender16 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.age16,
.location16,
.los-angelas-usa,
.months16 {
  margin: 0;
  width: 23px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  height: 13px;
  flex-shrink: 0;
}
.location16,
.los-angelas-usa,
.months16 {
  width: 45px;
  font-weight: 300;
}
.location16,
.los-angelas-usa {
  width: 43px;
  font-weight: 500;
}
.los-angelas-usa {
  width: 79px;
  font-weight: 300;
}
.pet-details16 {
  width: 128px;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-8xs);
  text-align: left;
  font-size: var(--font-size-3xs);
}
.owner33,
.pet-details16,
.pet-info-sec16 {
  display: flex;
  align-items: center;
}
.pet-info-sec16 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.owner33 {
  margin: 0;
  width: 150px;
  position: relative;
  justify-content: center;
  height: 16px;
  flex-shrink: 0;
}
.prof-pic-icon16 {
  width: 15px;
  position: relative;
  border-radius: 50%;
  height: 15px;
  object-fit: cover;
  opacity: 0.5;
}
.owner-name16 {
  margin: 0;
  width: 56px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  height: 13px;
  flex-shrink: 0;
}
.contact-now16,
.owner-details16 {
  font-size: var(--font-size-3xs);
  flex-shrink: 0;
}
.owner-details16 {
  width: 150px;
  height: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.contact-now16 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 70px;
  position: relative;
  text-decoration: underline;
  font-family: var(--font-k2d);
  color: var(--color-royalblue);
  text-align: center;
  display: inline-block;
  height: 13px;
}
.contact-button16 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.owner32 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  font-size: var(--font-size-2xs);
}
.details16,
.owner32,
.pet-data16,
.pet16 {
  display: flex;
  align-items: center;
}
.details16 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.pet-data16,
.pet16 {
  overflow: hidden;
  justify-content: center;
}
.pet16 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.pet-data16 {
  width: 250px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-100);
  height: 300px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-31xl);
  box-sizing: border-box;
}
.female8,
.vancouver-canada {
  margin: 0;
  width: 31px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  height: 13px;
  flex-shrink: 0;
}
.vancouver-canada {
  width: 84px;
}
.pet-set8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
}
.months18 {
  margin: 0;
  width: 42px;
  position: relative;
  font-weight: 300;
}
.months18,
.owner-name18,
.rome-italy {
  display: inline-block;
  height: 13px;
  flex-shrink: 0;
}
.rome-italy {
  margin: 0;
  width: 50px;
  position: relative;
  font-weight: 300;
}
.owner-name18 {
  width: 59px;
}
.owner-name18,
.paris-france2 {
  margin: 0;
  position: relative;
  font-weight: 300;
}
.pet-group4,
.pet-set9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
}
.pet-group4 {
  flex-direction: column;
}
.mumbai-india,
.owner-name20,
.owner-name21 {
  margin: 0;
  width: 62px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  height: 13px;
  flex-shrink: 0;
}
.owner-name20,
.owner-name21 {
  width: 61px;
}
.owner-name21 {
  width: 52px;
}
.location22,
.moscow-russia,
.owner-name22,
.owner-name23 {
  margin: 0;
  width: 43px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.moscow-russia,
.owner-name22,
.owner-name23 {
  width: 70px;
  font-weight: 300;
  height: 13px;
}
.owner-name22,
.owner-name23 {
  width: 67px;
}
.owner-name23 {
  width: 54px;
}
.pet-group5,
.pet-list2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pet-group5 {
  display: flex;
  gap: var(--gap-21xl);
}
.pet-list2 {
  align-self: stretch;
  flex: 1;
}
.pet-list2,
.pet-set12 {
  display: flex;
  gap: var(--gap-21xl);
}
.adopt-cat-page,
.adoption-page1,
.pet-list3,
.pet-set12 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pet-list3 {
  width: 268px;
  height: 2680px;
  display: none;
  gap: var(--gap-21xl);
}
.adopt-cat-page,
.adoption-page1 {
  display: flex;
}
.adoption-page1 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 1656px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-3xs) var(--padding-358xl);
  box-sizing: border-box;
  gap: var(--gap-15xl);
}
.adopt-cat-page {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-k2d);
}
@media screen and (max-width: 1200px) {
  .buttons1 {
    height: 50px;
  }
  .adoption-page1 {
    height: 1700px;
  }
}
@media screen and (max-width: 960px) {
  .header4 {
    width: 960px;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-11xl);
    padding-top: var(--padding-16xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .adoption-heading1 {
    font-size: var(--font-size-31xl);
  }
  .buttons1 {
    width: 685px;
    height: 60px;
  }
  .adopt-cat-page {
    width: 960px;
    height: 1729px;
  }
}
@media screen and (max-width: 420px) {
  .logo-icon5 {
    width: 20px;
    height: 20px;
  }
  .logo-name5 {
    font-size: var(--font-size-mini);
  }
  .logo4 {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .about4,
  .home4,
  .profile4 {
    font-size: var(--font-size-xs);
  }
  .links4 {
    width: 190px;
    flex-direction: row;
    gap: var(--gap-3xl-5);
    padding-left: 0;
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .header4,
  .links4,
  .nav4 {
    align-items: center;
    justify-content: center;
  }
  .nav4 {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .header4 {
    align-self: stretch;
    width: auto;
  }
  .adoption-heading1 {
    font-size: var(--font-size-16xl);
    text-align: center;
    width: 420px;
  }
  .adoption-text1 {
    font-size: var(--font-size-3xs);
    width: 380px;
    align-self: center;
  }
  .adoption-head1 {
    width: 420px;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
  }
  .buttons1 {
    width: 460px;
    height: 60px;
    align-items: flex-start;
    justify-content: center;
  }
  .pet-set8 {
    width: 420px;
    gap: var(--gap-21xl);
    column-gap: 20;
  }
  .pet-group4,
  .pet-set8,
  .pet-set9 {
    flex-direction: column;
  }
  .pet-list2 {
    display: none;
    align-self: center;
  }
  .pet-list2,
  .pet-list3,
  .pet-set12 {
    width: 420px;
    flex-direction: column;
    gap: var(--gap-21xl);
  }
  .pet-set12 {
    column-gap: 20;
  }
  .pet-list3 {
    display: flex;
    align-self: center;
  }
  .adoption-page1 {
    width: 420px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .adopt-cat-page {
    width: 420px;
    height: 3000px;
  }
}
