.logo-icon15 {
  width: 36.6px;
  position: relative;
  border-radius: 50%;
  height: 36px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.logo-name15,
.logo14 {
  height: 42px;
  flex-shrink: 0;
}
.logo-name15 {
  margin: 0;
  width: 148.3px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.logo14 {
  width: 185px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
}
.home14 {
  width: 40px;
}
.about14:hover,
.home14:hover,
.profile14:hover {
  color: var(--color-deepskyblue-200);
}
.about14,
.home14,
.profile14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.about14 {
  width: 44px;
  height: 21px;
}
.profile14 {
  width: 48px;
}
.links14,
.nav14 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.links14 {
  width: 177px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: 0 22.5px;
}
.nav14 {
  flex: 1;
  height: 42px;
  justify-content: space-between;
}
.header14,
.the-chatbot-buddy,
.woofie1 {
  margin: 0;
  align-self: stretch;
  flex-shrink: 0;
}
.header14 {
  height: 155px;
  background-color: var(--color-paleturquoise);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-81xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  font-family: var(--font-k2d);
}
.the-chatbot-buddy,
.woofie1 {
  position: relative;
  display: inline-block;
  height: 52px;
}
.the-chatbot-buddy {
  font-size: var(--font-size-mini);
  color: var(--color-black);
  height: 20px;
}
.chatbot-heading {
  width: 1440px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px 0;
}
.chat-bubble-typing-oval-messa-icon {
  width: 12.9px;
  position: relative;
  height: 12.9px;
}
.chat-bubble {
  width: 14.9px;
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 359px;
  height: 14.9px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
  box-sizing: border-box;
  z-index: 0;
}
.woofie-img-icon {
  width: 30px;
  position: relative;
  border-radius: 50%;
  height: 30px;
  object-fit: cover;
}
.woofie-txt {
  margin: 0;
  width: 150px;
  position: relative;
  display: inline-block;
  height: 18px;
  flex-shrink: 0;
}
.chat-with-woofie {
  width: 160px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  justify-content: center;
  gap: 0 7px;
  z-index: 1;
}
.box-head,
.chat-box-header,
.chat-with-woofie {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box-head {
  width: 386px;
  height: 30px;
  justify-content: center;
  position: relative;
  gap: 0 10px;
}
.chat-box-header {
  width: 400px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-deepskyblue-100);
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-7xs) 14px;
  box-sizing: border-box;
  z-index: 0;
  font-size: var(--font-size-sm);
}
.chat-input {
  border: 0.5px solid var(--color-deepskyblue-100);
  outline: 0;
  background-color: var(--color-white);
  width: 340px;
  position: relative;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  height: 29px;
}
.mail-send-email-message-send-icon {
  width: 16.7px;
  position: relative;
  height: 16.7px;
}
.chat-box-footer,
.send-chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.send-chat {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12xs);
  background-color: transparent;
  overflow: hidden;
}
.chat-box-footer {
  width: 370px;
  margin: 0 !important;
  position: absolute;
  top: 431px;
  left: 15px;
  gap: 0 11px;
  z-index: 1;
}
.hey-there-how {
  margin: 0;
  position: relative;
  font-weight: 300;
}
.woofie-chat {
  margin: 0 !important;
  position: absolute;
  top: 382px;
  left: 15px;
  border-radius: var(--br-mini) var(--br-mini) var(--br-mini) 0;
  background-color: var(--color-deepskyblue-100);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-2xs);
  z-index: 2;
}
.chat-box,
.chatbot-page,
.user-chat,
.woofie-chat {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.user-chat {
  margin: 0 !important;
  position: absolute;
  top: 333px;
  left: 344px;
  border-radius: var(--br-mini) var(--br-mini) 0 var(--br-mini);
  background-color: #00d1ff;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs);
  z-index: 3;
}
.chat-box,
.chatbot-page {
  position: relative;
  flex-direction: column;
}
.chat-box {
  width: 400px;
  border-radius: var(--br-3xs);
  background-color: #cdf6ff;
  height: 470px;
  flex-shrink: 0;
  justify-content: center;
  gap: 109px 0;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.chatbot-page {
  width: 100%;
  background-color: var(--color-white);
  height: 750px;
  justify-content: flex-start;
  gap: 16px 0;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-deepskyblue-100);
  font-family: var(--font-k2d);
}
@media screen and (max-width: 960px) {
  .header14 {
    width: 960px;
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .logo-icon15 {
    width: 20px;
    height: 20px;
  }
  .logo-name15 {
    font-size: var(--font-size-mini);
    width: 50px;
    height: 15px;
  }
  .logo14 {
    gap: 0 5px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    align-self: center;
  }
  .about14,
  .home14,
  .profile14 {
    font-size: var(--font-size-xs);
  }
  .links14 {
    width: 190px;
    flex-direction: row;
    gap: 0 22.5px;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-8xl);
  }
  .header14,
  .links14,
  .nav14 {
    box-sizing: border-box;
  }
  .nav14 {
    padding-left: 0;
    padding-right: 0;
  }
  .header14 {
    width: 420px;
    height: 60px;
    gap: 0 878px;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 var(--padding-3xs);
  }
  .woofie1 {
    font-size: var(--font-size-11xl);
  }
  .the-chatbot-buddy {
    font-size: var(--font-size-3xs);
  }
  .chatbot-heading {
    gap: 2px 0;
    row-gap: 0;
  }
}
