.logo-icon15 {
  width: 36.6px;
  position: relative;
  border-radius: 50%;
  height: 36px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.logo-name15,
.logo14 {
  height: 42px;
  flex-shrink: 0;
}
.logo-name15 {
  margin: 0;
  width: 146px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.logo14 {
  width: 185px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
}
.home14 {
  width: 40px;
}
.about14:hover,
.home14:hover,
.profile14:hover {
  color: var(--color-deepskyblue-200);
}
.about14,
.home14,
.profile14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.about14 {
  width: 44px;
  height: 21px;
}
.profile14 {
  width: 48px;
}
.links14,
.nav14 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.links14 {
  width: 177px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: 0 22.5px;
}
.nav14 {
  flex: 1;
  height: 42px;
  justify-content: space-between;
}
.feedback,
.header14 {
  margin: 0;
  flex-shrink: 0;
}
.header14 {
  align-self: stretch;
  height: 155px;
  background-color: var(--color-paleturquoise);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-81xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  font-family: var(--font-k2d);
}
.feedback {
  width: 201px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  height: 62px;
}
.feedback-wrapper {
  width: 1440px;
  height: 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.feedback-form-child {
  width: 600px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  height: 650px;
}
.feedback-form,
.feedback-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-form {
  align-self: stretch;
  background-color: var(--color-white);
  height: 800px;
  justify-content: flex-start;
  padding: 20px 609px;
  box-sizing: border-box;
  gap: 10px 0;
}
.feedback-page {
  width: 100%;
  position: relative;
  height: 955px;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-deepskyblue-100);
  font-family: var(--font-k2d);
}
@media screen and (max-width: 1200px) {
  .feedback-form,
  .header14 {
    width: 1200px;
  }
  .feedback-page {
    width: 1200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  .nav14 {
    flex: 1;
    height: auto;
  }
  .header14 {
    align-self: stretch;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: var(--padding-8xs) var(--padding-11xl) var(--padding-13xl);
    box-sizing: border-box;
    min-height: 155px;
  }
  .feedback-form,
  .feedback-wrapper {
    align-self: center;
    width: auto;
    height: auto;
  }
  .feedback-form {
    align-self: stretch;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .feedback-page {
    width: 960px;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 420px) {
  .logo-icon15 {
    width: 20px;
    height: 20px;
  }
  .logo-name15 {
    font-size: var(--font-size-mini);
  }
  .logo14 {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .about14,
  .home14,
  .profile14 {
    font-size: var(--font-size-xs);
  }
  .links14 {
    width: 190px;
    flex-direction: row;
    gap: 0 22.5px;
    padding-left: 0;
    padding-right: var(--padding-6xl);
  }
  .header14,
  .links14,
  .nav14 {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .nav14 {
    flex: 1;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }
  .header14 {
    align-self: stretch;
    width: auto;
    padding-left: var(--padding-11xl);
    padding-bottom: var(--padding-8xs);
    min-height: 60px;
  }
  .feedback {
    font-size: var(--font-size-6xl);
  }
  .feedback-wrapper {
    align-self: stretch;
    width: auto;
  }
  .feedback-form,
  .feedback-page {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .feedback-form {
    align-self: stretch;
    width: auto;
  }
  .feedback-page {
    width: 420px;
    height: auto;
  }
}
