.logo-icon {
  width: 36.6px;
  position: relative;
  border-radius: 50%;
  height: 36px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.logo-name {
  margin: 0;
  width: 148.3px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  height: 45px;
  flex-shrink: 0;
}
.logo {
  width: 185px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
}
.home {
  width: 40px;
}
.about:hover,
.home:hover,
.profile:hover {
  color: var(--color-deepskyblue-200);
}
.about,
.home,
.profile {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.about {
  width: 44px;
  height: 21px;
}
.profile {
  width: 48px;
}
.links {
  width: 177px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: 0 22.5px;
}
.header,
.links,
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav {
  flex: 1;
  height: 42px;
  justify-content: space-between;
}
.header {
  margin: 0;
  align-self: stretch;
  height: 155px;
  background-color: var(--color-paleturquoise);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-81xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  font-family: var(--font-k2d);
}
.hero-img-icon {
  width: 550px;
  position: relative;
  height: 152px;
  object-fit: cover;
}
.heading-1,
.text-1 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.heading-1 {
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.text-1 {
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-black);
}
.hero-text {
  align-self: stretch;
  height: 153px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px 0;
}
.join-us {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 300;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: center;
}
.hero,
.join-us-btn {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.join-us-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-smi);
  background-color: var(--color-paleturquoise);
  width: 80px;
  border-radius: var(--br-xl);
  height: 41px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.join-us-btn:hover {
  background-color: #91d8e6;
}
.hero {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  gap: 12px 0;
  font-size: var(--font-size-11xl);
}
.heading-2,
.text-2 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.heading-2 {
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
}
.text-2 {
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-black);
}
.motive-text {
  align-self: stretch;
  height: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px 0;
}
.motive-img1-icon {
  width: 130px;
  position: relative;
  height: 120px;
  object-fit: cover;
}
.motive-images,
.our-motive {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.motive-images {
  width: 431px;
  height: 129px;
  flex-shrink: 0;
  flex-direction: row;
  gap: 0 10px;
}
.our-motive {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  gap: 12px 0;
}
.heading-3 {
  margin: 0;
  width: 901px;
  position: relative;
  font-size: var(--font-size-13xl);
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-deepskyblue-100);
  text-align: center;
  display: inline-block;
  height: 46px;
  flex-shrink: 0;
}
.rescue1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: left;
}
.rescue-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-13xl);
  background-color: var(--color-paleturquoise);
  position: absolute;
  top: calc(50% + 50px);
  left: calc(50% - 26px);
  border-radius: var(--br-xl);
  width: 135px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.adopt-btn:hover,
.contact-dr-btn:hover,
.donate-btn:hover,
.qr-square:hover,
.rescue-btn:hover,
.review-button:hover {
  background-color: var(--color-lightblue-100);
}
.rescue-txt {
  margin: 0;
  position: absolute;
  top: 0;
  left: 140px;
  font-weight: 300;
  display: inline-block;
  width: 191px;
}
.rescue-img-icon {
  position: absolute;
  top: 0;
  left: 0.5px;
  border-radius: var(--br-xl);
  width: 120px;
  height: 160px;
  object-fit: cover;
}
.rescue {
  width: 344px;
  position: relative;
  height: 160px;
}
.adopt-btn,
.adopt-txt {
  position: absolute;
  left: 140px;
}
.adopt-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-13xl);
  background-color: var(--color-paleturquoise);
  top: 130px;
  border-radius: var(--br-xl);
  width: 135px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.adopt-txt {
  margin: 0;
  top: 0;
  font-weight: 300;
  display: inline-block;
  width: 204px;
}
.adopt-img-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 120px;
  height: 160px;
  object-fit: cover;
}
.donate1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: left;
}
.donate-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-13xl);
  background-color: var(--color-paleturquoise);
  position: absolute;
  top: calc(50% + 50px);
  left: calc(50% - 31px);
  border-radius: var(--br-xl);
  width: 135px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.donate-txt {
  margin: 0;
  position: absolute;
  top: 0;
  left: 140px;
  font-weight: 300;
  display: inline-block;
  width: 202px;
}
.donate {
  width: 342px;
  position: relative;
  height: 160px;
}
.heading-4,
.our-services {
  align-self: stretch;
  flex-shrink: 0;
}
.our-services {
  height: 973px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px 0;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.heading-4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  height: 42px;
}
.dr-1-img {
  width: 143.8px;
  position: relative;
  border-radius: 50%;
  height: 148px;
  object-fit: cover;
}
.dr-name-1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  height: 31px;
  flex-shrink: 0;
}
.doc-1,
.doctor-section {
  align-self: stretch;
  height: 211px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.doctor-section {
  height: 697px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.contact-doctors {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 300;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: center;
}
.contact-dr-btn,
.doctor-frame,
.doctors {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.contact-dr-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-16xl);
  background-color: var(--color-paleturquoise);
  width: 185px;
  border-radius: var(--br-3xs);
  height: 35px;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.doctor-frame,
.doctors {
  align-self: stretch;
  height: 838px;
  flex-direction: column;
  justify-content: space-between;
}
.heading-5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
}
.since-our-inception {
  display: block;
}
.text {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 300;
  color: var(--color-black);
}
.impact-text {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px 0;
}
.review-website {
  width: 112px;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 300;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.our-impact,
.review-button {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) 42px;
  background-color: var(--color-paleturquoise);
  width: 196px;
  border-radius: var(--br-3xs);
  height: 35px;
  flex-direction: row;
  box-sizing: border-box;
}
.our-impact {
  align-self: stretch;
  height: 284px;
  flex-direction: column;
  gap: 25px 0;
}
.qr-code-codes-tags-code-qr-icon {
  width: 40px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.qr-square {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-paleturquoise);
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.scan-qr {
  margin: 0;
  width: 58px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  height: 20px;
  flex-shrink: 0;
}
.qr-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 60px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.woofie {
  margin: 0;
  width: 46px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-k2d);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  height: 20px;
  flex-shrink: 0;
}
.new-btns {
  align-self: stretch;
  height: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 80px;
}
.logo-icon1 {
  width: 35px;
  position: relative;
  border-radius: 50%;
  height: 35px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.logo-name1 {
  margin: 0;
  position: relative;
  font-weight: 500;
}
.footer-logo {
  width: 256px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
}
.facebook,
.instagram,
.twitter,
.whatsapp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 40px;
  position: relative;
  height: 40px;
  background-image: url(/public/facebook@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.instagram,
.twitter,
.whatsapp {
  background-image: url(/public/instagram@2x.png);
}
.twitter,
.whatsapp {
  background-image: url(/public/twitter@2x.png);
}
.whatsapp {
  background-image: url(/public/whatsapp@2x.png);
}
.footer-links {
  width: 256px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 32px;
}
.footer,
.landing-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-k2d);
}
.footer {
  align-self: stretch;
  background-color: var(--color-paleturquoise);
  height: 109px;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--padding-8xs) 596px var(--padding-3xs);
  box-sizing: border-box;
  gap: 12px 0;
  text-align: left;
  font-size: 36px;
  color: var(--color-black);
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3600px;
  justify-content: center;
  gap: 63px 0;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-deepskyblue-100);
}
@media screen and (max-width: 1200px) {
  .our-services {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .header {
    width: 960px;
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .text-1 {
    font-size: var(--font-size-base);
    align-self: stretch;
    width: auto;
    flex: 1;
  }
  .heading-2 {
    font-size: var(--font-size-11xl);
  }
  .text-2 {
    font-size: var(--font-size-mini);
    flex: 1;
  }
  .motive-text {
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    box-sizing: border-box;
  }
  .our-services {
    display: flex;
  }
  .text {
    font-size: var(--font-size-mini);
  }
  .footer-links {
    flex-direction: row;
    padding-top: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
    align-items: center;
    justify-content: flex-end;
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
    box-sizing: border-box;
  }
  .landing-page {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .logo-icon {
    width: 20px;
    height: 20px;
  }
  .logo-name {
    font-size: var(--font-size-mini);
  }
  .logo {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .about,
  .home,
  .profile {
    font-size: var(--font-size-xs);
  }
  .links {
    width: 190px;
    flex-direction: row;
    gap: 0 22.5px;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: var(--padding-6xl);
  }
  .header,
  .links,
  .nav {
    box-sizing: border-box;
  }
  .nav {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    width: 420px;
    height: 60px;
    gap: 0 878px;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 var(--padding-3xs);
  }
  .heading-1,
  .hero-img-icon,
  .text-1 {
    align-self: stretch;
    width: auto;
  }
  .heading-1 {
    font-size: 22px;
    text-align: center;
    flex: 1;
  }
  .text-1 {
    font-size: var(--font-size-base);
  }
  .hero-text {
    width: 400px;
    gap: 12px 0;
  }
  .text-2 {
    font-size: var(--font-size-sm);
    width: 400px;
  }
  .our-motive {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .rescue-img-icon {
    display: flex;
    width: 120px;
    height: 160px;
  }
  .our-services {
    display: flex;
  }
  .dr-1-img {
    width: 80px;
    height: 80px;
  }
  .dr-name-1 {
    font-size: var(--font-size-base);
    width: 420px;
  }
  .contact-dr-btn {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .doctors {
    display: flex;
    width: 420px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .text {
    font-size: var(--font-size-sm);
    text-align: center;
    width: 400px;
    height: 114px;
  }
  .logo-icon1 {
    width: 20px;
    height: 20px;
  }
  .logo-name1 {
    font-size: var(--font-size-mini);
  }
  .facebook,
  .instagram,
  .twitter,
  .whatsapp {
    width: 25px;
    height: 25px;
  }
  .footer-links {
    width: 256px;
  }
  .footer {
    align-self: stretch;
    width: auto;
    height: 70px;
  }
  .landing-page {
    width: 420px;
    height: auto;
    gap: 63px 0;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0;
    box-sizing: border-box;
  }
}
